.btn{
  display: inline-block;
  background: $main-color;
  padding: .5rem .8rem;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  color: white;
  transition: .3s;
}
.btn:hover{
  background: $lighten-color;
  color: $main-color;
  transform: scale(1.1);
}

.btn-outline{
  display: inline-block;
  border: 1px solid $main-color;
  padding: .5rem .8rem;
  border-radius: .3rem;
  cursor: pointer;
  color: $main-color;
  transition: .3s;
}
.btn-outline:hover{
  border: none;
  background: $dark-color;
  color: white;
  transform: scale(1.1);
}